{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-mixed-operators": 0,
    "react/prop-types": 0,
    "react/no-unused-state": 0,
    "react/destructuring-assignment": 0,
    "react/prefer-stateless-function": 0,
    "react/button-has-type": 0,
    "react/no-did-update-set-state": 0,
    "import/no-named-as-default": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": {
      "required": {
        "some": [ "nesting", "id" ]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}